
html {
  font-size: 16px;
  color: #739799;
  font-family: "Europa-regular", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #04a1af;
  text-align: center;
}

h2 {
  color: #04a1af;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  padding-left: 3rem;
  color: #9ea3d2;
}

p {
  line-height: 1.2;
  padding: 3rem;
}

.fa, .fa-linkedin-square, .fa-github {
  font-size: 2rem;
  color: #f943a8
}

.fa-linkedin-square {
  margin-top: 1rem;
}

.social {
  margin-top: .5rem;
}

a {
  color: #9ea3d2;
  text-decoration: none;
}

a:visited {
  color: #9ea3d2;
}

a:hover {
 color: #f943a8;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5rem;
}

header img {
  height: 5rem;
  width: auto;
  margin: 2rem;
}

hr {
  width: 75%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #08e6fa, #f943a8, rgba(0, 0, 0, 0));
}

.center hr {
  margin-bottom: 2rem;
}

.main {
  display: flex;
  margin-top: 4rem;
}

.leftsidebar {
  width: 28%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid #995b5b;*/
}

.leftsidebar img {
  width: 11rem;
  border-radius: 50%;
  margin-top: 4rem;
}


.aboutraz {
  margin-top: 2rem;
}

.aboutrazp {
  padding: 2rem 4rem;
}

.center {
  width: 44%;
  border-width: 1px;
   border-style: solid;
   -webkit-border-image:
     -webkit-gradient(linear, 0 0, 0 100%, from(#995b5b), to(rgba(0, 0, 0, 0))) 1 100%;
   -webkit-border-image:
     -webkit-linear-gradient(#f943a8, #08e6fa) 1 100%;
   -moz-border-image:
     -moz-linear-gradient(rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
   -o-border-image:
     -o-linear-gradient(rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
   border-image:
     linear-gradient(to bottom, rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog {
  border-width: 1px;
   border-style: solid;
   -webkit-border-image:
     -webkit-gradient(linear, 0 0, 0 100%, from(#995b5b), to(rgba(0, 0, 0, 0))) 1 100%;
   -webkit-border-image:
     -webkit-linear-gradient(#f943a8, #08e6fa) 1 100%;
   -moz-border-image:
     -moz-linear-gradient(rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
   -o-border-image:
     -o-linear-gradient(rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
   border-image:
     linear-gradient(to bottom, rgba(0, 0, 0, 0), #f943a8, #08e6fa, rgba(0, 0, 0, 0)) 1 100%;
}

.rightsidebar {
  width: 28%;
  display: flex;
  justify-content: center;
  /*border: 1px solid #995b5b;*/
}

nav {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  line-height: 4;
  background: -webkit-linear-gradient(#f943a8, #08e6fa);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

nav a:hover {
  background: -webkit-linear-gradient(#08e6fa,#f943a8);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
